<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/services/google.user.service.js"></script>
    <script src="js/services/facebook.user.service.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/connect.controller.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="connectCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Testing Social Connections</h1>
      </ion-header-bar>
      <ion-content>
        <!-- facebook section -->
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
        <div ng-show="!api.facebook" style="text-align: center">
          <span>Not connected yet</span>
        </div>
        <div ng-show="api.facebook" style="text-align: center;">
          <span>Connection success!</span> <br><br>
          <div style="width: 90%; margin-left: 5%; min-height: 50px; background-color: #efefef">
            <ul>
              <li>
                <strong>name: </strong><span>{{facebookUser.name}}</span>
              </li>
              <li>
                <strong>userID: </strong><span>{{facebookUser.userID}}</span>
              </li>
              <li>
                <strong>email: </strong><span>{{facebookUser.email}}</span>
              </li>
            </ul>
            <br>
          </div>
          <img style="margin-top: 20px" src="{{facebookUser.picture}}"> <br>
          <input type="text" placeholder="Share this" ng-model="$parent.message"></input>
          <a class="facebook-sign-in button button-block" ng-click="FBPost()">share</a><br>
          <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
        </div>
        <!-- google section -->
        <a class="google-sign-in button button-block" ng-click="googleSignIn()">Sign in with Google</a>
        <div ng-show="!api.google" style="text-align: center">
          <span>Not connected yet</span>
        </div>
        <div ng-show="api.google" style="text-align: center;">
          <span>Connection success!</span> <br><br>
          <div style="width: 90%; margin-left: 5%; min-height: 50px; background-color: #efefef">
            <ul>
              <li>
                <strong>name: </strong><span>{{googleUser.name}}</span>
              </li>
              <li>
                <strong>userID: </strong><span>{{googleUser.userID}}</span>
              </li>
              <li>
                <strong>email: </strong><span>{{googleUser.email}}</span>
              </li>
            </ul>
            <br>
          </div>
          <img style="margin-top: 20px" src="{{googleUser.picture}}"> <br>
          <a class="button button-assertive button-block button-outline" ng-click="LogOutGoogle()">Log Out</a>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
